<div class="row d-flex justify-content-center">
    <div>
        <div class="page-header  text-center">
            <h1 class="display-4">User Edit</h1>
        </div>
    </div>

    <div class="container">
        <ul class="nav nav-tabs">
            <li role="presentation" ng-click="edit.namePhase();"><a href="#">Name</a></li>
            <li role="presentation" ng-click="edit.username();"><a href="#">Username</a></li>
            <li role="presentation" ng-click="edit.emailPhase();"><a href="#">Email</a></li>
            <li role="presentation" ng-click="edit.permissionPhase();"><a href="#">Permission</a></li>
        </ul>
    </div>
</div>