<div class="row d-flex justify-content-center">
    <div>
        <div class="page-header text-center">
            <h1 class="display-4">User Management</h1>
        </div>

        <div class="row show-hide-message" ng-show="manage.loading">
            <div class="alert alert-secondary">Loading...</div>
        </div>

        <div class="row show-hide-message" ng-show="manage.successMsg">
            <div class="alert alert-success">{{ manage.successMsg }}</div>
        </div>   
        
        <div class="row show-hide-message" ng-show="manage.errorMsg">
            <div class="alert alert-danger">{{ manage.errorMsg }}</div>
        </div>

        <div class="modal fade" id="deleteUserModal" tabindex="-1" aria-labelledby="deleteUserModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteUserModalLabel">Delete Confirmation</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                            <div class="modal-body">
                                Are you sure you wish to delete <a href="/profile/{{ manage.deleteUsername }}" target="_blank">{{ manage.deleteUsername }}</a>?
                            </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="manage.deleteUser(manage.deleteUsername)">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th class="col-name">Name</th>
                    <th class="col-username">Username</th>
                    <th class="col-email">Email</th>
                    <th class="col-activated">Activated</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in manage.users" ng-mouseenter="manage.rowHover(user._id, true)" ng-mouseleave="manage.rowHover(user._id, false)" ng-dblclick="manage.viewUser(user.username)">
                    <td class="col-name">{{ user.name }}</td>
                    <td class="col-username">{{ user.username }}</td>
                    <td class="col-email">{{ user.email }}</td>
                    <td class="col-activated">{{ user.active }}
                        <div class="col-actions justify-content-right text-secondary table-actions" ng-show="manage.row == user._id">
                            <i class="fas fa-eye" title="View" ng-click="manage.viewUser(user.username)"></i>
                            <i class="fas fa-edit" title="Edit"></i>
                            <i class="fas fa-trash" title="Remove" data-toggle="modal" data-target="#deleteUserModal" ng-click="manage.deleteUsername = user.username"></i>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>  
</div>  