<div class="jumbotron mt-4">
    <div class="container">
      <h1 class="display-4">About</h1>
      <p>This template was created to act as a quick spring board or boiler plate to quickly build web applications. This is a Single Page Application using MongoDB, ExpressJS, AngularJS, and NodeJS with a RESTful API.</p>
      <p><a class="btn btn-primary btn-lg" href="/" role="button">Home &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-3">
        <h2>MongoDB</h2>
        <p class="mb-5">This application makes use of MongoDB's document (JSON) based entries</p>
        <p><a class="btn btn-success" href="https://docs.mongodb.com/" target="_blank" role="button">MongoDB docs &raquo;</a></p>
      </div>
      <div class="col-md-3">
        <h2>ExpressJS</h2>
        <p class="mb-5">Both the RESTful API, its respective routes, and middleware are done with ExpressJS v4.x</p>
        <p><a class="btn btn-info" href="https://expressjs.com/en/4x/api.html" target="_blank" role="button">ExpressJS docs &raquo;</a></p>
      </div>
      <div class="col-md-3">
        <h2>AngularJS</h2>
        <p class="mb-4">Page routes and the rest of the MVC framework is written in AngularJS v1.8 (plan to switch to Angular 4 or higher in the future)</p>
        <p><a class="btn btn-danger" href="https://docs.angularjs.org/api" target="_blank" role="button">AngularJS docs &raquo;</a></p>
      </div>
      <div class="col-md-3">
        <h2>NodeJS</h2>
        <p class="mb-5">Last but not least, the server backend is running on NodeJS v14.15.0</p>
        <p><a class="btn btn-success" href="https://nodejs.org/en/docs/" target="_blank" role="button">NodeJS docs &raquo;</a></p>
      </div>
    </div>