<div class="jumbotron mt-4">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h1 class="display-4">MEAN SPA Template</h1>
          <p><a class="btn btn-primary btn-lg" href="/about" role="button">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-3">
          <img src="assets/img/landing.png" class="img-fluid">
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-6">
        <h2>Features</h2>
        <p>This application implements user <a href="/register">registration</a>, user <a href="/login">login</a>, item <a href="/items/create">creation</a>, <a href="/items/view">viewing</a> and deletion. However, users can only proceed after accepting a confirmation email sent with 
          <strong><a href="https://nodemailer.com/about/" target="_blank">Nodemailer</a></strong> configured using Gmail SMTP.</p>
      </div>
      <div class="col-md-6">
        <h2>Styling</h2>
        <p>This application makes use of <a href="https://getbootstrap.com/docs/4.5/getting-started/introduction/" target="_blank">Bootstrap v4.5</a> for elements such as <code>&lttable&gt</table></code> 
           for viewing Users or Items found in the database in a clean fashion as well as <code>&ltnav&gt</table></code> 
           for the main navigation bar. 
           <br>
           <br>
           The <a href="assets/css/main.css" target="_blank">assets/css/<strong>main.css</strong></a> file is compiled with 
           <strong><a href="https://www.npmjs.com/package/node-sass" target="_blank">node-sass</a></strong> and loaded last if you wish to use Sass on top of Bootstrap.</p>
      </div>
    </div>