<div class="row d-flex justify-content-center">
    <div>
        <div class="page-header  text-center">
            <h1 class="display-4">View Items</h1>
        </div>

        <div class="row show-hide-message" ng-show="itemView.loading">
            <div class="alert alert-secondary">Loading...</div>
        </div>
        
        <br>

        <div class="panel panel-primary">
            <table class="table table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>Part</th>
                        <th>Quanity</th>
                        <th>Category</th>
                        <th>Description</th>
                        <th>URL</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in itemView.items">
                        <td>{{ item.part }}</td>
                        <td>{{ item.quanity }}</td>
                        <td>{{ item.category }}</td>
                        <td>{{ item.description }}</td>
                        <td><a href="{{ item.url }}" target="_blank">{{ item.url }}</a></td>

                        <td style="display: flex;"><i class="fas fa-eye"></i><i class="fas fa-edit"></i><i class="fas fa-trash"></i></td>                   
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div class="row show-hide-message" ng-show="itemView.successMsg">
            <div class="alert alert-success">{{ itemView.successMsg }}</div>
        </div>
        
        <br>
        
        <div class="row show-hide-message" ng-show="itemView.errorMsg">
            <div class="alert alert-danger">{{ itemView.errorMsg }}</div>
        </div>
    </div>  
</div>  