<div class="row d-flex justify-content-center">
    <div class="col-md-6">
        <div class="page-header text-center">
            <h1 class="display-4">Reset Password</h1>
        </div>
        
        <form ng-hide="reset.hide" name="regForm" ng-submit="reset.savePassword(regData, regForm.$valid, isConfirmed);" novalidate>
            <div>
                <label><strong>Password:</strong></label>
                <input class="form-control" type="password" name="password" placeholder="**********" ng-model="password" required
                    ng-class="{ 'is-valid': (regForm.password.$valid && !regForm.password.$pristine), 'is-invalid': (!regForm.password.$valid && !regForm.password.$pristine)}"
                    ng-pattern="/^(?=.*?[a-z])(?=.*?[A-Z])(?=.*?[\d])(?=.*?[\W]).{8,256}$/"
                    ng-minlength="8" ng-maxlength="256"
                    ng-disabled="reset.disabled">
                <p class="form-text state-invalid" ng-show="(!regForm.password.$pristine && regForm.password.$error.required) || (regForm.$submitted && regForm.password.$error.required)">This field is required</p>
                <ul class="state-invalid" ng-show="(!regForm.password.$pristine && regForm.password.$error.pattern) || (!regForm.password.$pristine && regForm.password.$error.minlength) || (!regForm.password.$pristine && regForm.password.$error.maxlength)" class="form-text">
                    <li>Must have one number</li>
                    <li>Must have one lowercase letter</li>
                    <li>Must have one uppercase letter</li>
                    <li>Must have one special character</li>
                    <li>Must be at least 8 characters</li>
                </ul>
            </div>
            <br>
            <div>
                <label><strong>Confirm Password:</strong></label>
                <input class="form-control" type="password" name="passwordConfirm" placeholder="**********" ng-model="confirm" match={{[password]}} ng-change="reset.regData.password = confirm" required
                    ng-class="{ 'is-valid': (isConfirmed && !regForm.passwordConfirm.$error.required), 'is-invalid': (!isConfirmed && !regForm.passwordConfirm.$error.required) || (regForm.passwordConfirm.$error.required && !regForm.passwordConfirm.$pristine)}"
                    ng-disabled="reset.disabled">
                    <p class="form-text state-invalid" ng-show="(!regForm.passwordConfirm.$pristine && regForm.passwordConfirm.$error.required) || (regForm.$submitted && regForm.passwordConfirm.$error.required)">This field is required</p>
                <p class="form-text state-invalid" ng-show="(!isConfirmed && !regForm.passwordConfirm.$pristine && regForm.password.$valid)">Passwords do not match</p>
            </div>
            <br>
            <button class="btn btn-primary" type="submit" ng-disabled="reset.disabled">Reset Password</button>
        </form>
        <br>
        
        <br>
        <br>
        
        <div class="row show-hide-message" ng-show="main.loading">
            <div class="alert alert-secondary">Loading...</div>
        </div>
        
        <br>
        
        <div class="row show-hide-message" ng-show="reset.successMsg">
            <div class="alert alert-success">{{ reset.successMsg }}</div>
        </div>
        
        <br>
        
        <div class="row show-hide-message" ng-show="reset.errorMsg">
            <div class="alert alert-danger">{{ reset.errorMsg }}</div>
        </div>
	</div>
</div>