<div class="container-form center">
    <div class="form-page" ng-init="main.setNavTitle('User Login')">
        <form ng-submit="main.doLogin(loginData);">
            <p class="text-secondary text-center">Don't have an account? <a href="/register" class="text-primary">Sign up</a></p>

            <label><strong>Username:</strong></label>
            <input class="form-control" type="text" name="username" placeholder="Username" ng-model="main.loginData.username" ng-disabled="main.disabled">
            <br>
            <label><strong>Password:</strong></label>
            <input class="form-control" type="password" name="password" placeholder="Password" ng-model="main.loginData.password" ng-disabled="main.disabled">
            <br>
    
            <button class="btn btn-primary btn-login" type="submit" ng-disabled="main.disabled">Login</button>&nbsp
            <div class="group-forgot">
                    <a href="/forgot/username"><button class="btn btn-outline-secondary" type="submit" ng-disabled="main.disabled">Forgot Username</button></a>
                    <a href="/forgot/password"><button class="btn btn-outline-secondary" type="submit" ng-disabled="main.disabled">Forgot Password</button></a>
                </div>

                <br>
                <br>

                <div class="form-messages">
                    <div class="row show-hide-message" ng-show="main.loading">
                        <div class="alert alert-secondary">Loading...</div>
                    </div>
                    <div class="row show-hide-message" ng-show="main.successMsg">
                        <div class="alert alert-success">{{ main.successMsg }}</div>
                    </div>
                    <div class="row show-hide-message" ng-show="main.errorMsg">
                        <div class="alert alert-danger">{{ main.errorMsg }}&nbsp<a href="#" ng-show="main.expired" ng-click="main.resendLink()"><button class="btn btn-success" type="submit">Resend Activation Link</button></a></div>
                    </div>
                </div>
        </form>
    </div>
</div>