<div class="container-form center">
    <div class="form-page" ng-init="main.setNavTitle('Resend Activation Link')">
        <form ng-submit="resend.resendActivationLink(loginData);">
            <label><strong>Username:</strong></label>
            <input class="form-control" type="text" name="username" placeholder="Username" ng-model="resend.loginData.username" ng-disabled="resend.disabled">
            <br>
            <label><strong>Password:</strong></label>
            <input class="form-control" type="password" name="password" placeholder="Password" ng-model="resend.loginData.password" ng-disabled="resend.disabled">
            <br>
            <button class="btn btn-primary" type="submit" ng-disabled="resend.disabled">Submit</button>&nbsp
        
            <br>
            <br>
        
            <div class="form-messages">
                <div class="row show-hide-message" ng-show="resend.loading">
                    <div class="alert alert-secondary">Loading...</div>
                </div>
                
                <div class="row show-hide-message" ng-show="resend.successMsg">
                    <div class="alert alert-success">{{ resend.successMsg }}</div>
                </div>
                
                <div class="row show-hide-message" ng-show="resend.errorMsg">
                    <div class="alert alert-danger">{{ resend.errorMsg }}</div>
                </div>
            </div>
        </form>
    </div>
</div>